In [1]:
from jqdatasdk import *

auth success

In [18]:
import pandas as pd

## 1. get data

In [2]:
stock_code = "000001.XSHE"
l_start_date='2015-01-01'
l_end_date='2022-06-01'

### 1.1 get basic data

In [3]:
# get the data, open,close,high,low,volume
df1 = get_price(stock_code, start_date=l_start_date, end_date=l_end_date, frequency='daily')
df1 = df1[["open","close","high","low","volume"]]
df1["change"] = (df1["open"]-df1["close"])/df1["close"]
df1["amplitude"] = (df1["high"]-df1["low"])/df1["low"]

C:\software_usr_design\anaconda\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

In [4]:
df1

             open  close   high    low       volume    change  amplitude
2015-01-05  10.16  10.18  10.35   9.92  450000439.0 -0.001965   0.043347
2015-01-06  10.08  10.03  10.42   9.88  340818825.0  0.004985   0.054656
2015-01-07   9.89   9.84  10.06   9.73  267460942.0  0.005081   0.033916
2015-01-08   9.85   9.51   9.90   9.47  221459917.0  0.035752   0.045407
2015-01-09   9.47   9.59  10.09   9.35  394634239.0 -0.012513   0.079144
...           ...    ...    ...    ...          ...       ...        ...
2022-05-26  14.41  14.19  14.43  14.07  101131756.0  0.015504   0.025586
2022-05-27  14.29  14.18  14.35  14.11   72306674.0  0.007757   0.017009
2022-05-30  14.26  14.08  14.28  14.04   89690123.0  0.012784   0.017094
2022-05-31  14.07  14.16  14.18  14.00   93886855.0 -0.006356   0.012857
2022-06-01  14.14  14.08  14.14  14.00   84529898.0  0.004261   0.010000

[1802 rows x 7 columns]

### 1.2 get factor data

In [ ]:
# import 
from jqdatasdk import get_factor_values

In [20]:
factor_list = ["Variance20","VR","BIAS5","MAC5","beta","residual_volatility"]

In [11]:
# get the factor data
factor_data = get_factor_values(securities=['000001.XSHE'], factors=["Variance20","VR","BIAS5","MAC5","beta","residual_volatility"], 
                                start_date=l_start_date, end_date=l_end_date)

In [13]:
# test
# print(factor_data["VR"]["000001.XSHE"].tolist())
factor_data

{'MAC5':             000001.XSHE
 2015-01-05     0.966066
 2015-01-06     0.989605
 2015-01-07     1.016094
 2015-01-08     1.043858
 2015-01-09     1.025378
 ...                 ...
 2022-05-26     1.026498
 2022-05-27     1.015374
 2022-05-30     1.011932
 2022-05-31     1.002825
 2022-06-01     1.004119

 [1802 rows x 1 columns],
 'VR':             000001.XSHE
 2015-01-05     1.762475
 2015-01-06     1.937771
 2015-01-07     1.664330
 2015-01-08     1.858286
 2015-01-09     1.815913
 ...                 ...
 2022-05-26     0.723723
 2022-05-27     0.631008
 2022-05-30     0.622305
 2022-05-31     0.623603
 2022-06-01     0.663699

 [1802 rows x 1 columns],
 'beta':             000001.XSHE
 2015-01-05     0.883844
 2015-01-06     0.867071
 2015-01-07     0.877312
 2015-01-08     0.931441
 2015-01-09     0.905770
 ...                 ...
 2022-05-26    -0.251366
 2022-05-27    -0.246911
 2022-05-30    -0.279559
 2022-05-31    -0.298671
 2022-06-01    -0.304642

 [1802 rows x 1 columns],
 'BIAS5':             000001.XSHE
 2015-01-05     3.512559
 2015-01-06     1.050379
 2015-01-07    -1.583929
 2015-01-08    -4.201517
 2015-01-09    -2.474956
 ...                 ...
 2022-05-26    -2.581354
 2022-05-27    -1.514099
 2022-05-30    -1.179113
 2022-05-31    -0.281690
 2022-06-01    -0.410242

 [1802 rows x 1 columns],
 'residual_volatility':             000001.XSHE
 2015-01-05    -0.516154
 2015-01-06    -0.565309
 2015-01-07    -0.599752
 2015-01-08    -0.606060
 2015-01-09    -0.593756
 ...                 ...
 2022-05-26    -0.229652
 2022-05-27    -0.298685
 2022-05-30    -0.308887
 2022-05-31    -0.293788
 2022-06-01    -0.286350

 [1802 rows x 1 columns],
 'Variance20':             000001.XSHE
 2015-01-05     0.436818
 2015-01-06     0.427168
 2015-01-07     0.407180
 2015-01-08     0.285303
 2015-01-09     0.273035
 ...                 ...
 2022-05-26     0.116340
 2022-05-27     0.115850
 2022-05-30     0.058918
 2022-05-31     0.060092
 2022-06-01     0.056487

 [1802 rows x 1 columns]}

In [23]:
df_factor = factor_data["Variance20"]
df_factor.columns = ["Variance20"]
for factor_name in factor_list[1:]:
    df_tmp = factor_data[factor_name]
    df_tmp.columns = [factor_name]
    df_factor = pd.merge(df_factor, df_tmp, left_index=True, right_index=True)
df_factor

,Variance20,VR,BIAS5,MAC5,beta,residual_volatility
2015-01-05,0.436818,1.762475,3.512559,0.966066,0.883844,-0.516154
2015-01-06,0.427168,1.937771,1.050379,0.989605,0.867071,-0.565309
2015-01-07,0.407180,1.664330,-1.583929,1.016094,0.877312,-0.599752
2015-01-08,0.285303,1.858286,-4.201517,1.043858,0.931441,-0.606060
2015-01-09,0.273035,1.815913,-2.474956,1.025378,0.905770,-0.593756
...,...,...,...,...,...,...
2022-05-26,0.116340,0.723723,-2.581354,1.026498,-0.251366,-0.229652
2022-05-27,0.115850,0.631008,-1.514099,1.015374,-0.246911,-0.298685
2022-05-30,0.058918,0.622305,-1.179113,1.011932,-0.279559,-0.308887
2022-05-31,0.060092,0.623603,-0.281690,1.002825,-0.298671,-0.293788
2022-06-01,0.056487,0.663699,-0.410242,1.004119,-0.304642,-0.286350

### 1.3 merge

In [24]:
df_merge = pd.merge(df1,df_factor,left_index=True, right_index=True)
df_merge

,open,close,high,low,volume,change,amplitude,Variance20,VR,BIAS5,MAC5,beta,residual_volatility
2015-01-05,10.16,10.18,10.35,9.92,450000439.0,-0.001965,0.043347,0.436818,1.762475,3.512559,0.966066,0.883844,-0.516154
2015-01-06,10.08,10.03,10.42,9.88,340818825.0,0.004985,0.054656,0.427168,1.937771,1.050379,0.989605,0.867071,-0.565309
2015-01-07,9.89,9.84,10.06,9.73,267460942.0,0.005081,0.033916,0.407180,1.664330,-1.583929,1.016094,0.877312,-0.599752
2015-01-08,9.85,9.51,9.90,9.47,221459917.0,0.035752,0.045407,0.285303,1.858286,-4.201517,1.043858,0.931441,-0.606060
2015-01-09,9.47,9.59,10.09,9.35,394634239.0,-0.012513,0.079144,0.273035,1.815913,-2.474956,1.025378,0.905770,-0.593756
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-26,14.41,14.19,14.43,14.07,101131756.0,0.015504,0.025586,0.116340,0.723723,-2.581354,1.026498,-0.251366,-0.229652
2022-05-27,14.29,14.18,14.35,14.11,72306674.0,0.007757,0.017009,0.115850,0.631008,-1.514099,1.015374,-0.246911,-0.298685
2022-05-30,14.26,14.08,14.28,14.04,89690123.0,0.012784,0.017094,0.058918,0.622305,-1.179113,1.011932,-0.279559,-0.308887
2022-05-31,14.07,14.16,14.18,14.00,93886855.0,-0.006356,0.012857,0.060092,0.623603,-0.281690,1.002825,-0.298671,-0.293788
2022-06-01,14.14,14.08,14.14,14.00,84529898.0,0.004261,0.010000,0.056487,0.663699,-0.410242,1.004119,-0.304642,-0.286350

In [25]:
# save
df_merge.to_pickle("data.pkl")

In [26]:
# test
unpickled_df = pd.read_pickle("data.pkl")  
unpickled_df

,open,close,high,low,volume,change,amplitude,Variance20,VR,BIAS5,MAC5,beta,residual_volatility
2015-01-05,10.16,10.18,10.35,9.92,450000439.0,-0.001965,0.043347,0.436818,1.762475,3.512559,0.966066,0.883844,-0.516154
2015-01-06,10.08,10.03,10.42,9.88,340818825.0,0.004985,0.054656,0.427168,1.937771,1.050379,0.989605,0.867071,-0.565309
2015-01-07,9.89,9.84,10.06,9.73,267460942.0,0.005081,0.033916,0.407180,1.664330,-1.583929,1.016094,0.877312,-0.599752
2015-01-08,9.85,9.51,9.90,9.47,221459917.0,0.035752,0.045407,0.285303,1.858286,-4.201517,1.043858,0.931441,-0.606060
2015-01-09,9.47,9.59,10.09,9.35,394634239.0,-0.012513,0.079144,0.273035,1.815913,-2.474956,1.025378,0.905770,-0.593756
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-26,14.41,14.19,14.43,14.07,101131756.0,0.015504,0.025586,0.116340,0.723723,-2.581354,1.026498,-0.251366,-0.229652
2022-05-27,14.29,14.18,14.35,14.11,72306674.0,0.007757,0.017009,0.115850,0.631008,-1.514099,1.015374,-0.246911,-0.298685
2022-05-30,14.26,14.08,14.28,14.04,89690123.0,0.012784,0.017094,0.058918,0.622305,-1.179113,1.011932,-0.279559,-0.308887
2022-05-31,14.07,14.16,14.18,14.00,93886855.0,-0.006356,0.012857,0.060092,0.623603,-0.281690,1.002825,-0.298671,-0.293788
2022-06-01,14.14,14.08,14.14,14.00,84529898.0,0.004261,0.010000,0.056487,0.663699,-0.410242,1.004119,-0.304642,-0.286350